<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <label>Groupes </label>
    <select class="form-control form-control-lg" id="idGp" name="idGp" [(ngModel)]="idGroupe" (change)="onChange()">
      <option *ngFor="let gp of groupes" value="{{gp.idGroupe}}">
        {{gp.nomGroupe}}
      </option>
    </select>
  </div>
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        </thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Date Naissance</th>
          <th>Classe</th>
          <th>Email</th>
          <th>Groupe</th>
        </tr>
        <tbody *ngFor="let etudiant of etudiants">
          <tr>
            <td>{{etudiant.idEtudiant}}</td>
            <td>{{etudiant.nom}}</td>
            <td>{{etudiant.prenom}}</td>
            <td>{{etudiant.dateNaiss | date:'dd/MM/yyyy'}}</td>
            <td>{{etudiant.classe}}</td>
            <td>{{etudiant.email}}</td>
            <td>{{etudiant.groupe.nomGroupe}}</td>
            <!-- <td><a class="btn btn-danger" (click)="supprimerEtudiant(etudiant)">Supprimer</a>
            <td><a class="btn btn-success" [routerLink]="['/updateEtudiant',etudiant.idEtudiant]">Modifier</a></td> -->
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
